:root {
  /* palette 1 Lalalala III by dontbeshy - https://www.colourlovers.com/palette/4891231/Lalalala_III */
  --mauve: #613C46; /* past */
  --pinker-salmon: #FF707E; /* present */
  --pink-beige: #FFC2A6; /* future */
  --floss-moss: #CCE8D8; /* save */
  --mint-white: #E3FFF9; /* background */
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: var(--mint-white);
  }
  
  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  .description {
    white-space: pre-wrap;
  }
  
  .time-block {
    border-radius: 15px;
  }
  
  .row {
    border-top: 1px solid white;
  }
  
  .hour {
    background-color: var(--floss-moss);
    color: #000000;
    border-top: 1px dashed #000000;
  }
  
  .past {
    background-color: var(--mauve);
    color: white;
  }
  
  .present {
    background-color: var(--pinker-salmon);
    color: white;
  }
  
  .future {
    background-color: var(--pink-beige);
    color: white;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--floss-moss);
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }